@using GenericSearch.Searches
@using GenericSearch
@using Index = GenericSearch.Sample.Features.Employees.Index;
@model Index.Model

@{
    Layout = "_Layout.Admin";
}

<div class="row mb-2">
    <div class="col-12">
        <button class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#filters"
                aria-expanded="false"
                aria-controls="filters">
            Toggle Filters
        </button>
    </div>
</div>

<div class="row">
    <div class="col collapse col-md-3" id="filters">
        <form role="form" method="post">
            <div class="card">
                <div class="card-header">
                    <h6>Filters</h6>
                </div>
                @Html.EditorFor(x => x.FirstName)
                @Html.EditorFor(x => x.LastName)
                @Html.EditorFor(x => x.BirthDate)
                @Html.EditorFor(x => x.HireDate)
                @Html.EditorFor(x => x.HomePhone)
                @Html.EditorFor(x => x.Country)
                <partial name="Sorting"/>
                <div class="card-body py-2">
                    <div class="input-group input-group-sm">
                        <button class="btn btn-primary" type="submit">Apply</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Birth Date
                    </th>
                    <th>
                        Hire Date
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Home Phone
                    </th>
                    <th>
                        Reports To
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BirthDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HireDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HomePhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReportsToFirstName)
                            @Html.DisplayFor(modelItem => item.ReportsToLastName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <partial name="Paging" />
    </div>
</div>

