@model  GenericSearch.Sample.Features.Products.Index.Model

<div class="row mb-2">
    <div class="col-12">
        <button class="btn btn-primary"
                type="button"
                data-toggle="collapse"
                data-target="#filters"
                aria-expanded="false"
                aria-controls="filters">
            Toggle Filters
        </button>
    </div>
</div>

<div class="row">
    <div class="col collapse col-md-3" id="filters">
        <form role="form" method="post">
            <div class="card">
                <div class="card-header">
                    <h6>Filters</h6>
                </div>
                @Html.EditorFor(x => x.ProductName)
                @Html.EditorFor(x => x.Category)
                @Html.EditorFor(x => x.SupplierCompanyName)
                @Html.EditorFor(x => x.Discontinued)
                <partial name="Sorting"/>
                <div class="card-body py-2">
                    <div class="input-group input-group-sm">
                        <button class="btn btn-primary" type="submit">Apply</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Supplier</th>
                    <th>Category</th>
                    <th>Unit Price</th>
                    <th>Stock</th>
                    <th>Ordered</th>
                    <th>Discontinued</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@Html.DisplayFor(x => item.ProductName)</td>
                        <td>@Html.DisplayFor(x => item.Supplier)</td>
                        <td>@Html.DisplayFor(x => item.Category)</td>
                        <td>@Html.DisplayFor(x => item.UnitPrice)</td>
                        <td>@Html.DisplayFor(x => item.UnitsInStock)</td>
                        <td>@Html.DisplayFor(x => item.UnitsOnOrder)</td>
                        <td>@Html.DisplayFor(x => item.Discontinued)</td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="Paging"/>
    </div>
</div>

